In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import scipy.stats as stats
import seaborn

In [17]:
satisfaction_data = "data/Satisfaction.csv"

In [19]:
sat_data_df = pd.read_csv(satisfaction_data)
sat_data_df.head(10)

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,11112,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,...,2,3,3,0,3,5,3,2,0,0.0
1,110278,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,...,2,3,4,4,4,2,3,2,310,305.0
2,103199,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,...,2,2,3,3,4,4,4,2,0,0.0
3,47462,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,...,3,1,1,0,1,4,1,3,0,0.0
4,120011,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,...,4,2,2,0,2,4,2,5,0,0.0
5,100744,satisfied,Male,Loyal Customer,30,Personal Travel,Eco,1894,0,0,...,2,2,5,4,5,5,4,2,0,0.0
6,32838,satisfied,Female,Loyal Customer,66,Personal Travel,Eco,227,0,0,...,5,5,5,0,5,5,5,3,17,15.0
7,32864,satisfied,Male,Loyal Customer,10,Personal Travel,Eco,1812,0,0,...,2,2,3,3,4,5,4,2,0,0.0
8,53786,satisfied,Female,Loyal Customer,56,Personal Travel,Business,73,0,0,...,5,4,4,0,1,5,4,4,0,0.0
9,7243,satisfied,Male,Loyal Customer,22,Personal Travel,Eco,1556,0,0,...,2,2,2,4,5,3,4,2,30,26.0

In [20]:
sat_data_df.columns

Index(['id', 'satisfaction_v2', 'Gender', 'Customer Type', 'Age',
       'Type of Travel', 'Class', 'Flight Distance', 'Seat comfort',
       'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
       'Inflight wifi service', 'Inflight entertainment', 'Online support',
       'Ease of Online booking', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes'],
      dtype='object')

In [25]:
clean_sat_data_df = sat_data_df[["id", "satisfaction_v2", "Gender", "Customer Type", "Age", "Type of Travel", "Class", "Flight Distance", "Seat comfort", "Food and drink", "Inflight wifi service", "Inflight entertainment", "Ease of Online booking", "On-board service", "Leg room service", "Checkin service", "Cleanliness", "Departure Delay in Minutes", "Arrival Delay in Minutes"]]
clean_sat_data_df.head()

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Food and drink,Inflight wifi service,Inflight entertainment,Ease of Online booking,On-board service,Leg room service,Checkin service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,11112,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,2,4,3,3,0,5,3,0,0.0
1,110278,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,2,3,4,4,2,3,310,305.0
2,103199,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,2,0,2,3,3,4,4,0,0.0
3,47462,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,3,4,1,1,0,4,1,0,0.0
4,120011,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,4,3,2,2,0,4,2,0,0.0

In [26]:
drop_na_df = clean_sat_data_df.dropna()

In [27]:
drop_na_df.count()

id                            129487
satisfaction_v2               129487
Gender                        129487
Customer Type                 129487
Age                           129487
Type of Travel                129487
Class                         129487
Flight Distance               129487
Seat comfort                  129487
Food and drink                129487
Inflight wifi service         129487
Inflight entertainment        129487
Ease of Online booking        129487
On-board service              129487
Leg room service              129487
Checkin service               129487
Cleanliness                   129487
Departure Delay in Minutes    129487
Arrival Delay in Minutes      129487
dtype: int64